{% load static %}

<div class="navbar-collapse collapse navbar-main-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown megamenu-fw"><a href="{% url 'core:home' %}" class="color-light">Home </a>
        </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle color-light">Tes Psikologi </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu">
                    <a href="#">Tes Inteligensi</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'test:assessment' type='CFIT' %}">CFIT</a></li>
                        <li><a href="{% url 'test:assessment' type='TPA' %}">TPA OTO BAPPENAS</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">Tes Kepribadian</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'test:assessment' type='MBTI' %}">Myers-Briggs Type Indicator</a></li>
                        <li><a href="{% url 'test:assessment' type='BFI' %}">Big Five Personality (OCEAN)</a></li>
                        <li><a href="{% url 'test:assessment' type='DISC' %}">DISC Personality Assessment</a></li>
                        <li><a href="{% url 'test:assessment' type='PAPI' %}">PAPI Kostick</a></li>
                        <li><a href="{% url 'test:assessment' type='PF16' %}">Personality Factor 16</a></li>
                        <li><a href="{% url 'test:assessment' type='MBTI' %}">EPPS Test</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">Tes Kesehatan Mental</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'test:assessment' type='MMPI' %}">MMPI</a></li>
                        <li><a href="{% url 'test:assessment' type='DEPR' %}">Depression Test</a></li>
                    </ul>
                </li>
            </ul>
        </li>        
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle color-light">Jasa Kami  </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'core:home' %}">Konsultasi Karir</a></li>
                <li><a href="{% url 'core:home' %}">Konten Edukasi</a></li>
            </ul>
        </li>
    
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle color-light">Blog </a>
            <ul class="dropdown-menu has-submenu" role="menu">
                <li><a href="{% url 'blog:list' %}">Semua Kategori</a></li>
                <li><a href="{% url 'blog:list' %}?category=P">Psikologi</a></li>
                <li><a href="{% url 'blog:list' %}?category=C">Karir</a></li>
                <li><a href="{% url 'blog:list' %}?category=F">Investasi Sehat</a></li>
            </ul>
        </li>
        
        <li class="dropdown megamenu-fw"><a href="{% url 'core:home' %}" class="color-light">Tentang Kami </a>
        </li>
    </ul>

</div>