{% load static %}

    
<!-- JQuery Core
=====================================-->
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap-3.3.7.min.js' %}"></script>

<!-- Magnific Popup
=====================================-->
<script src="{% static 'assets/js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/magnific-popup/magnific-popup-zoom-gallery.js' %}"></script>

<!-- Progress Bars
=====================================-->
<script src="{% static 'assets/js/progress-bar/bootstrap-progressbar.js' %}"></script>
<script src="{% static 'assets/js/progress-bar/bootstrap-progressbar-main.js' %}"></script>

<!-- JQuery Main
=====================================-->
<script src="{% static 'assets/js/main/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/main/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/main/parallax.min.js' %}"></script>
<script src="{% static 'assets/js/main/jquery.countTo.js' %}"></script>
<script src="{% static 'assets/js/main/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/main/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/main/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'assets/js/main/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/main/main.js' %}"></script>