{% for field in form %}
    <a class="button
    {% if field.value %}
        {% if forloop.counter >= no|add:'0' and forloop.counter < max|add:'0'%}
            button-warning
        {% else %}
            button-success
        {% endif %}
    {% else %}
        {% if forloop.counter >= no|add:'0' and forloop.counter < max|add:'0'%}
            button-blue
        {% else %}
            button-gray
        {% endif %}
    {% endif %}" 
    style="min-width:4.8em" href="{% url 'test:assessment' type=object.type.lower no=forloop.counter %}">
        {{forloop.counter}}
    </a>
{% endfor %}