{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}{{object.title}} | Suksesif{% endblock %}
{% block description %}{{object.subtitle}}{% endblock %}
{% block keywords %}psikologi,karir,finansial{% endblock %}
{% block author %}Tim Suksesif{% endblock %}

{% block content %}   
                
    <!-- Subheader Area
    ===================================== -->
    <header class="bg-grad-stellar mt70">

        <div class="container">
            <div class="row mt20 mb30">
                <div class="col-md-6 text-left">
                    <h3 class="color-light text-uppercase animated" data-animation="fadeInUp" data-animation-delay="100">Blog Post Read<small class="color-light alpha7">some notes.</small></h3>
                </div>
                <div class="col-md-6 text-right pt35">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'core:home' %}">Home</a></li>
                        <li><a href="{% url 'blog:list' %}">Halaman Blog</a></li>
                        <li>Halaman Postingan</li>
                    </ul>
                </div>
            </div>
        </div>

    </header>
    
    
    <!-- Blog Area
    ===================================== -->
    <section id="blog" class="pt75 pb50">
        <div class="container">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    
                    <div class="blog-three-mini">
                        <h2 class="color-dark"><a href="#">{{object.title}}</a></h2>
                        <p class="lead">
                            {{object.subtitle}}
                        </p>
                        <div class="blog-three-attrib">
                            <div><i class="fa fa-calendar"></i>{{object.timestamp|naturalday}}</div> | 
                            <div><i class="fa fa-pencil"></i><a href="#">{{object.user.name}}</a></div> | 
                            <div><i class="fa fa-comment-o"></i><a href="#">X Comments</a></div> | 
                            <div><a href="#"><i class="fa fa-thumbs-o-up"></i></a>X Likes</div> | 
                            <div>
                                Share:  <a href="#"><i class="fa fa-facebook-official"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        
                        <img src="{{object.image.url}}" alt="Image Carousel" class="img-responsive">
                        <p class="lead">
                            {{object.image_caption}}
                        </p>
                        
                        
                        {% autoescape off %}
                        {{object.content}}
                        {% endautoescape off %}
                        
                        <div class="blog-post-read-tag mt50">
                            <i class="fa fa-tags"></i> Tags:
                            {% for tag in object.tags.all %}
                            <a href="/blog/tag/{{tag.slug}}"> {{tag.name}}</a>
                            {% endfor %}
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5 class="bg-gray pt5 bp10 pl10">Related Articles</h5>
                        </div>
                        <!--Blog Post -->
                        {% for post in post_list|slice:"0:3" %}
                            <div class="col-md-4 col-sm-6 col-xs-12 mb50">
                                <div class="blog-three">
                                    <h4 class="blog-title"><a href="#">{{post.title}}</a></h4>
                                    <div class="blog-three-attrib">
                                        <span class="icon-calendar"></span>{{post.timestamp|naturalday}} | 
                                        <span class=" icon-pencil"></span><a href="#">{{post.user.name}}</a>
                                    </div>
                                    <img src="{{post.image.url}}" class="img-responsive" alt="image">
                                    <p class="mt25">
                                        {{post.subtitle}}                            
                                    </p>
                                    <a href="#" class="button button-gray button-xs">Read More <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                                            
                    
                    <div class="blog-post-author mb50 pt30 bt-solid-1">
                        <img src="assets/img/other/photo-1.jpg" class="img-circle" alt="image">
                        <span class="blog-post-author-name">{{user.name}}</span> <a href="https://twitter.com/booisme"><i class="fa fa-twitter"></i></a>
                        <p>
                            
                            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                        </p>
                    </div>
                    
                    
                    <div class="blog-post-comment-container">
                        <h5><i class="fa fa-comments-o mb25"></i> X Comments</h5>
                        {% for comment in object.comments.all %}
                        <div class="blog-post-comment">
                            <img src="assets/img/other/photo-2.jpg" class="img-circle" alt="image">
                            <span class="blog-post-comment-name">{{comment.user.name}}</span> {{comment.timestamp|naturalday}}
                            <a href="#" class="pull-right text-gray"><i class="fa fa-comment"></i> Balas</a>
                            <p>
                                {{comment.content}}
                            </p>
                        </div>
                        {% endfor %}
                        
                        
                        <button class="button button-default button-sm center-block button-block mt25 mb25">Load More Comments</button>
                
                        
                    </div>
                    
                    <div class="blog-post-leave-comment">
                        <h5><i class="fa fa-comment mt25 mb25"></i> Leave Comment</h5>
                        
                        <form>
                            <input type="text" name="name" class="blog-leave-comment-input" placeholder="name" required>
                            <input type="email" name="name" class="blog-leave-comment-input" placeholder="email"  required>
                            <input type="url" name="name" class="blog-leave-comment-input" placeholder="website">
                            <textarea name="message" class="blog-leave-comment-textarea"></textarea>
                            <button class="button button-pasific button-sm center-block mb25">Leave Comment</button>                            
                        </form>
                        
                        </div>
                    
                </div>                    
                
            </div>
            
            <div class="row mt35 animated" data-animation="fadeInUp" data-animation-delay="800">
                <div class="col-md-6">
                    <a href="#" class="button button-dark button-sm pull-right">Prev</a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="button button-dark button-sm pull-left">Next</a>
                </div>
            </div>
            
        </div>
    </section>
{% endblock content %}   