{% load static %}

<!-- Achievement Area
===================================== -->
<div class="pt50" style="background: url(assets/img/bg/bg-wood.jpg) 100% 100% repeat-x #e8f3f5;">
    <div class="container">
        
        <!-- title and short description start -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="font-source-sans-pro text-center mb50">                          
                    <small class="heading heading-icon heading-icon-rounded bg-grad-stellar center-block">
                        <i class="fa fa-trophy color-light"></i>
                    </small>
                    The Best Web &amp; App Developer 2016
                    <small class="heading-desc text-lowercase color-dark">
                        Every day, We makes thousands of customers happy.
                    </small>
                </h2>
            </div>
        </div>
        <!-- title and short description end -->
        
        <div class="row mb50 text-center">
            <div class="col-sm-12">
                <i class="fa fa-android fa-3x mr20 color-green"></i>
                <i class="fa fa-apple fa-4x mr20 color-dark"></i>
                <i class="fa fa-amazon fa-4x mr20 color-red"></i>
                <i class="fa fa-windows fa-3x color-purple"></i>
            </div>
        </div>
        
        <div class="col-md-12">
            <img src="assets/img/other/img-other-6.png" alt="device" class="img-responsive center-block">
        </div>
        
    </div><!-- container end -->
</div><!-- section achievment end -->

