{% load static %}


<!-- Blog Area
===================================== -->
<div id="blogs" class="bg-gray pt75 pb75">
    <div class="container">
        
        <!-- title start -->
        <div class="row text-center mb25">
            <h1 class="font-size-normal">
                <small>Our Blog</small>
                We Have Freebies, News, Tutorial, etc.
                <small class="heading heading-solid center-block"></small>
            </h1>
        </div>
        <!-- title end -->
        
        <div class="row">
            
            <!-- blog post start -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb50">
                <div class="blog-one">
                    <div class="blog-one-header">
                        <img src="assets/img/blog/img-blog-2.jpg" alt="image blog" class="img-responsive">
                    </div>
                    <div class="blog-one-attrib">                                
                        <img src="assets/img/other/photo-1.jpg" alt="photo blog" class="blog-author-photo">
                        <span class="blog-author-name">Harry Boo</span>
                        <span class="blog-date">PEB. 14 2016</span>                                                           
                    </div>
                    <div class="blog-one-body">
                        <h4 class="blog-title"><a href="#">Amazing Blog Post One</a></h4>
                        <p class="">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                        </p>
                    </div>
                    <div class="blog-one-footer">
                        <a href="#">Read More</a>
                        <i class="fa fa-heart"></i>59 Likes
                        <i class="fa fa-comments"></i><a href="#">120 Comments</a>
                    </div>
                </div>
            </div>
            <!-- blog post end -->
            
            <!-- blog post start -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb50">
                <div class="blog-one">
                    <div class="blog-one-header">
                        <img src="assets/img/blog/img-blog-4.jpg" alt="image blog" class="img-responsive">
                    </div>
                    <div class="blog-one-attrib">                                
                        <img src="assets/img/other/photo-4.jpg" alt="photo blog" class="blog-author-photo">
                        <span class="blog-author-name">Melanie Boo</span>
                        <span class="blog-date">PEB. 14 2016</span>                                                           
                    </div>
                    <div class="blog-one-body">
                        <h4 class="blog-title"><a href="#">Amazing Blog Post One</a></h4>
                        <p class="">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                        </p>
                    </div>
                    <div class="blog-one-footer">
                        <a href="#">Read More</a>
                        <i class="fa fa-heart"></i>59 Likes
                        <i class="fa fa-comments"></i><a href="#">120 Comments</a>
                    </div>
                </div>
            </div>
            <!-- blog post end -->
            
            <!-- blog post start -->                    
            <div class="col-md-4 col-sm-6 col-xs-12 mb50">
                <div class="blog-one">
                    <div class="blog-one-header">
                        <img src="assets/img/blog/img-blog-3.jpg" alt="image blog" class="img-responsive">
                    </div>
                    <div class="blog-one-attrib">                                
                        <img src="assets/img/other/photo-2.jpg" alt="photo blog" class="blog-author-photo">
                        <span class="blog-author-name">Harry Boo</span>
                        <span class="blog-date">PEB. 14 2016</span>                                                           
                    </div>
                    <div class="blog-one-body">
                        <h4 class="blog-title"><a href="#">Amazing Blog Post One</a></h4>
                        <p class="">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                        </p>
                    </div>
                    <div class="blog-one-footer">
                        <a href="#">Read More</a>
                        <i class="fa fa-heart"></i>59 Likes
                        <i class="fa fa-comments"></i><a href="#">120 Comments</a>
                    </div>
                </div>
            </div>
            <!-- blog post end -->                   
            
        </div><!-- row end -->                
    </div><!-- container end -->
</div><!-- section blog end -->
