{% load static %}
<!-- Intro Area
===================================== -->        
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
        <div class="carousel-inner">
            <div class="item carousel-img carousel-img7 active">
                <div class="container">
                    <div class="carousel-caption animated" data-animation="bounceInLeft" data-animation-delay="100">
                        <h1 class="font-pacifico text-capitalize color-light mt-50 text-right"><span class="alpha10">No. #1 Recommended<br>Web Service</span><br>
                        </h1>
                        <p class="color-light text-right mt20 ml10">
                            <a href="#" class="color-light alpha5 font-pacifico">~ George Webb. Themeforest.net</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item carousel-img carousel-img8">
                <div class="container">
                    <div class="carousel-caption mt-50 animated" data-animation="bounceInUp" data-animation-delay="100">
                        <h1 class="font-pacifico text-capitalize color-dark mt-25">
                            The One Stop<br>Website Service
                        </h1>
                        <p class="color-dark mt25">
                            Wordpress. Joomla. eCommerce. HTML. Etc.<br>
                            <a href="#" class="button button-md button-pasific hover-ripple-out mt30">Start Project</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item carousel-img carousel-img9">
                <div class="container">
                    <div class="carousel-caption animated" data-animation="bounceInLeft" data-animation-delay="100">
                        <h1 class="font-pacifico text-capitalize text-left color-dark mt-50">We <i class="fa fa-wordpress"></i>Wordpress<br>Developer.</h1>
                        <p class="mt25 text-left color-light">The most powerfull website engine so far.<br>
                            <a href="#" class="button button-pasific hover-ripple-out button-md mt30">Start Project</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    
    <div class="svg-container-bottom">
        <svg id="svgLineTop" xmlns="http://www.w3.org/2000/svg" version="1.1" 
            width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 300" preserveAspectRatio="xMinYMax">
            
            <polygon points="-150,450 0,100 600,300 2000,100 5200,450" fill="#fff" stroke="none"></polygon>
            
        </svg>
    </div>
    
</div>
