{% load static %}
<!-- Intro Area
===================================== -->        
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
        <div class="carousel-inner">
            <div class="item carousel-img active" style="
                background-image:
                    linear-gradient(
                    rgba(0, 0, 0, 0.3), 
                    rgba(0, 0, 0, 0.3)
                    ),
                    url({{carousel.0.image.url}});
                background-position: center top;">
                <div class="container">
                    <div class="carousel-caption animated" data-animation="bounceInLeft" data-animation-delay="100">
                        {% autoescape off %}
                        {{carousel.0.content}}
                        {% endautoescape off %}
                    </div>
                </div>
            </div>
            <div class="item carousel-img" style="
                background-image:
                    linear-gradient(
                    rgba(0, 0, 0, 0.3), 
                    rgba(0, 0, 0, 0.3)
                    ),
                    url({{carousel.1.image.url}});
                background-position: center top;">
                <div class="container">
                    <div class="carousel-caption mt-50 animated" data-animation="bounceInUp" data-animation-delay="100">
                        {% autoescape off %}
                        {{carousel.1.content}}
                        {% endautoescape off %}
                    </div>
                </div>
            </div>
            <div class="item carousel-img" style="
                background-image:
                    linear-gradient(
                    rgba(0, 0, 0, 0.3), 
                    rgba(0, 0, 0, 0.3)
                    ),
                    url({{carousel.2.image.url}});
                background-position: center top;">
                <div class="container">
                    <div class="carousel-caption animated" data-animation="bounceInLeft" data-animation-delay="100">
                        {% autoescape off %}
                        {{carousel.2.content}}
                        {% endautoescape off %}
                    </div>
                </div>
            </div>
        </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    
    <div class="svg-container-bottom">
        <svg id="svgLineTop" xmlns="http://www.w3.org/2000/svg" version="1.1" 
            width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 300" preserveAspectRatio="xMinYMax">
            
            <polygon points="-150,450 0,100 600,300 2000,100 5200,450" fill="#fff" stroke="none"></polygon>
            
        </svg>
    </div>
    
</div>
