{% load static %}
<!-- Intro Area
===================================== -->        
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for carousel in carousel_list%}
            <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="{% ifequal forloop.counter0 0 %}active{% endifequal %}"></li>
        {% endfor %}
    </ol>
        <div class="carousel-inner">
            {% for carousel in carousel_list%}
                <div class="item carousel-img {% ifequal forloop.counter0 0 %}active{% endifequal %}" style="
                    background-image:
                        linear-gradient(
                        rgba(0, 0, 0, 0.3), 
                        rgba(0, 0, 0, 0.3)
                        ),
                        url({{carousel.image.url}});
                    background-position: center top;">
                    <div class="container">
                        <div class="carousel-caption animated" data-animation="{{carousel.animation}}" data-animation-delay="100">
                            {% autoescape off %}
                            {{carousel.content}}
                            {% endautoescape off %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    
    <div class="svg-container-bottom">
        <svg id="svgLineTop" xmlns="http://www.w3.org/2000/svg" version="1.1" 
            width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 300" preserveAspectRatio="xMinYMax">
            
            <polygon points="-150,450 0,100 600,300 2000,100 5200,450" fill="#fff" stroke="none"></polygon>
            
        </svg>
    </div>
    
</div>
