{% load static %}

<!-- Clients Area
===================================== -->
<div id="client" class="bg-gray pt50 pb20">
    <div class="container">
        <div class="row">
            
            <!-- logo client start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <img src="assets/img/brand/paypal-gray.png" alt="client logo" class="img-responsive center-block animated" data-animation="fadeIn" data-animation-delay="300">
            </div>
            <!-- logo client end -->
            
            <!-- logo client start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <img src="assets/img/brand/evernote-gray.png" alt="client logo" class="img-responsive center-block animated" data-animation="fadeIn" data-animation-delay="150">
            </div>
            <!-- logo client end -->
            
            <!-- logo client start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <img src="assets/img/brand/microsoft-gray.png" alt="client logo" class="img-responsive center-block animated" data-animation="fadeIn" data-animation-delay="100">
            </div>
            <!-- logo client end -->
            
            <!-- logo client start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <img src="assets/img/brand/smashing-gray.png" alt="client logo" class="img-responsive center-block animated" data-animation="fadeIn" data-animation-delay="150">
            </div>
            <!-- logo client end -->
            
            <!-- logo client start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <img src="assets/img/brand/mashable-gray.png" alt="client logo" class="img-responsive center-block animated" data-animation="fadeIn" data-animation-delay="200">
            </div>
            <!-- logo client end -->
            
            <!-- logo client start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <img src="assets/img/brand/guardian-gray.png" alt="client logo" class="img-responsive center-block animated" data-animation="fadeIn" data-animation-delay="300">
            </div>
            <!-- logo client end -->
            
        </div><!-- row end -->               
    </div><!-- container end -->
</div><!-- section clients end -->