{% load static %}

<!-- Info Area
===================================== -->
<div id="info-1" class="pt50 pb50 mt75 parallax-window" data-parallax="scroll" data-speed="0.5" data-image-src="assets/img/bg/img-bg-2.jpg">
    <div class="container">
        <div class="row pt75">
            <div class="col-md-12 text-center">
                <h1 class="color-light">
                    <small class="color-light">The best way to be success</small>
                    Are you ready to be success with us?
                </h1>
                <a class="button button-md button-pasific hover-ripple-out mt25">Start Project</a>
                <a class="button-o button-md button-green hover-fade mt25"><span class="color-light">Contact Us</span></a>
            </div>   
        </div>
    </div>
</div>