{% load static %}

<!-- Info Area
===================================== -->
<div id="Info-1" class="bg-gray pt30 bb-solid-1">
    <div class="container">
        <div class="row">                
            <div class="col-md-8 col-md-offset-2 text-center pb35">
                <h4>We are here to help you reach success</h4>
                <a class="button button-md button-blue hover-ripple-out mr10">Purchase Now</a>
                <a class="button button-md button-pasific hover-ripple-out">Start Project</a>
            </div>                
        </div>
    </div>
</div>
