{% load static %}
    
<!-- Features Area
===================================== -->
<div id="features" class="pt75 mb25">
    <div class="container">
        
        <!-- title and short description start -->
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="font-size-normal">
                    <small>Amazing Features</small>
                    Best Template with Tons of Features
                    <small class="heading heading-solid center-block"></small>
                </h1>
            </div>

            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt voluptatem. 
                </p>
            </div>
        </div>
        <!-- title and short description end -->
        
        <div class="row mt50">
            <!-- feature one start -->
            <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                <div class="content-box content-box-center content-box-icon-o">
                    <span class="icon-mobile color-primary border-primary"></span>
                    <h5>Mobile Optimized</h5>               
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <!-- feature one end -->
            
            <!-- feature two start -->
            <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                <div class="content-box content-box-center content-box-icon-o">
                    <span class="icon-documents color-success border-success"></span>
                    <h5>Online Documentation</h5>               
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <!-- feature two end -->
            
            <!-- feature three start -->
            <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                <div class="content-box content-box-center content-box-icon-o">
                    <span class="icon-basket color-cyan border-cyan"></span>
                    <h5>Shop Ready</h5>               
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <!-- feature three end -->
            
            <!-- feature four start -->
            <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                <div class="content-box content-box-center content-box-icon-o">
                    <span class="icon-layers color-pasific border-pasific"></span>
                    <h5>Clean Code</h5>               
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <!-- feature four end -->
            
            <!-- feature five start -->
            <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                <div class="content-box content-box-center content-box-icon-o">
                    <span class="icon-adjustments color-green border-green"></span>
                    <h5>Easy to Customized</h5>               
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <!-- feature five end -->
            
            <!-- feature six start -->
            <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                <div class="content-box content-box-center content-box-icon-o">
                    <span class="icon-bike color-red border-red"></span>
                    <h5>2000+ Icons Included</h5>               
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <!-- feature six end -->
            
            <!-- feature seven start -->
            <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                <div class="content-box content-box-center content-box-icon-o">
                    <span class="icon-video color-pink border-pink"></span>
                    <h5>Video Background</h5>               
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <!-- feature seven end -->
            
            <!-- feature eight start -->
            <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                <div class="content-box content-box-center content-box-icon-o">
                    <span class="icon-tools color-warning border-warning"></span>
                    <h5>Full Support</h5>               
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <!-- feature eight end -->
            
        </div><!-- row end -->                
    </div><!-- container end -->
</div><!-- section feature end -->

