{% load static %}
<!-- Fun Fact Area
===================================== -->
<div id="fact" class="bg-grad-stellar pt100 pb100">
    <div class="container">
        
        <!-- title and short description start -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center mb50">                        
                <h1 class="font-size-normal color-light">
                    <small class="color-light">Your Business Partner</small>
                    Better Solution for Better Business
                </h1>
                
            </div>
        </div>
        <!-- title and short description end -->
        
        <div class="row">
            
            <!-- fun fact left start -->
            <div class="col-md-3">
                <div class="row">
                    
                    <!-- fun fact one start -->
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div class="fact">                                    
                            <div class="fact-number timer" data-perc="387">
                                <span class="factor color-light"></span>
                            </div>                                    
                            <span class="fact-title color-light alpha7">Projects Completed</span>
                        </div>
                    </div>
                    <!-- fun fact one end -->
                    
                    <!-- fun fact two start -->
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div class="fact">
                            <div class="fact-number timer" data-perc="578">
                                <span class="factor color-light"></span>
                            </div>
                            <span class="fact-title color-light alpha7">Happy Clients</span>
                        </div>
                    </div>
                    <!-- fun fact two end -->
                    
                </div>
            </div>
            <!-- fun fact left end -->
            
            <!-- fun fact right start -->
            <div class="col-md-3 col-md-push-6">
                <div class="row">
                    
                    <!-- fun fact three start -->
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div class="fact">
                            <div class="fact-number timer" data-perc="175">
                                <span class="factor color-light"></span>
                            </div>
                            <span class="fact-title color-light alpha7">Coffee Cups</span>
                        </div>
                    </div>
                    <!-- fun fact three end -->
                    
                    <!-- fun fact four start -->
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div class="fact">
                            <div class="fact-number timer" data-perc="350">
                                <span class="factor color-light"></span>
                            </div>
                            <span class="fact-title color-light alpha7">Cupcakes</span>
                        </div>
                    </div>
                    <!-- fun fact four end -->
                    
                </div>
            </div>
            <!-- fun fact right end -->
            
            <div class="col-md-6 col-md-pull-3">
                <img src="assets/img/other/map.png" alt="macbook" class="img-responsive">
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-sm-8 col-sm-push-2 text-center">
                <h4 class="pt25 color-light">Have an idea? We will do the rest!</h4>
                <p class="pb10 color-light alpha8">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <a href="#" class="button button-md button-gray hover-ripple-out"><span class="color-primary">Start Project</span></a>
            </div>
        </div>
        
    </div><!-- container end -->
</div><!-- section fun fact end -->
