{% load static %}
<!-- Portfolio Area
===================================== -->
<div id="portfolioGrid">
    <div class="pt50">&nbsp;</div>
    <div class="container-fluid bg-gray pt30">
        
        <div class="row">
            <div class="col-md-12">
                
                <!-- filters start -->
                <ul class="filters text-center  mt25 mb50">
                    <li><a class="active" data-filter="*">All Projects</a></li>                          
                    <li><a data-filter=".html">HTMl</a></li>
                    <li><a data-filter=".wordpress">Wordpress</a></li>
                    <li><a data-filter=".woocommerce">WooCommerce</a></li>
                    <li><a data-filter=".joomla">Joomla</a></li>
                    <li><a data-filter=".magento">Magento</a></li>
                    <li><a data-filter=".shopify">Shopify</a></li>
                </ul>
                <!-- filters end -->
                
                <div class="portfolio center-block">
                    
                    <!-- portfolio item one start -->
                    <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 wordpress woocommerce" data-category="">
                        <a href="assets/img/portfolio/preview/1.jpg" class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="assets/img/portfolio/thumbs/img-550x350-1.jpg" alt="portfolio woocommerce" class="img-responsive">     
                    </div>
                    <!-- portfolio item one end -->
                    
                    <!-- portfolio item two start -->
                    <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 joomla html">
                        <a href="assets/img/portfolio/preview/2.jpg" class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="assets/img/portfolio/thumbs/img-550x350-3.jpg" alt="portfolio woocommerce" class="img-responsive">
                    </div>
                    <!-- portfolio item two end -->
                    
                    <!-- portfolio item three start -->
                    <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 wordpress joomla">
                        <a href="assets/img/portfolio/preview/img-370x165-1.jpg" class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="assets/img/portfolio/thumbs/img-550x350-2.jpg" alt="portfolio woocommerce" class="img-responsive">
                    </div>
                    <!-- portfolio item three end -->
                    
                    <!-- portfolio item four start -->
                    <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 html wordpress">
                        <a href="assets/img/portfolio/preview/3.jpg" class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="assets/img/portfolio/thumbs/img-550x350-4.jpg" alt="portfolio woocommerce" class="img-responsive">
                    </div>
                    <!-- portfolio item four end -->
                    
                    <!-- portfolio item five start -->                            
                    <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 html joomla wordpress">
                        <a href="assets/img/portfolio/preview/4.jpg" class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="assets/img/portfolio/thumbs/img-550x350-6.jpg" alt="portfolio woocommerce" class="img-responsive">
                    </div>                            
                    <!-- portfolio item five end -->
                    
                    <!-- portfolio item six start -->
                    <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 html shopify joomla">
                        <a href="assets/img/portfolio/preview/5.jpg" class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="assets/img/portfolio/thumbs/img-550x350-5.jpg" alt="portfolio woocommerce" class="img-responsive">
                    </div>
                    <!-- portfolio item six end -->
                    
                    <!-- portfolio item seven start -->                            
                    <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 wordpress magento woocommerce">
                        <a href="assets/img/portfolio/preview/6.jpg" class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="assets/img/portfolio/thumbs/img-550x350-7.jpg" alt="portfolio woocommerce" class="img-responsive">                                
                    </div>
                    <!-- portfolio item seven end -->
                    
                    <!-- portfolio item eight start -->                            
                    <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 joomla html">
                        <a href="assets/img/portfolio/preview/7.jpg" class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="assets/img/portfolio/thumbs/img-550x350-8.jpg" alt="portfolio woocommerce" class="img-responsive">
                    </div>
                    <!-- portfolio item eight end -->

                </div><!-- portfolio end -->
                
            </div><!-- col-md-12 end -->
        </div><!-- row end -->
    </div><!-- container end -->
</div><!-- section portfolio end -->
