{% load static %}

<!-- Price Area
===================================== -->
<div id="price" class="bg-grad-stellar pt75 pb30">
    <div class="container pb50">

        <!-- title start -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center mb50">                        
                <h1 class="font-size-normal color-light">
                    <small class="color-light">Service Prices</small>
                    Family Price for Premium Services
                </h1>

            </div>
        </div>
        <!-- title start -->

        <div class="row">

            <!-- table price one start -->
            <div class="col-md-3 col-sm-6 col-xs-12 hover-float">
                <div class="price price-three">
                    <div class="price-header">
                        <span class="color-green"><sup>$</sup>49</span>
                        <h4>Regular</h4>								
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>Two Web Designs</li>
                            <li>Unlimited Revision</li>
                            <li>Free One Year Domain</li>
                            <li>Free Six Months Hosting</li>
                            <li>Free Installation</li>
                            <li>Full Support</li>
                        </ul>
                    </div>
                    <div class="price-footer">

                        <a href="#" class="button button-sm button-rounded button-green hover-ripple-out">Cart Now</a>
                    </div>
                </div>
            </div>
            <!-- table price one end -->

            <!-- table price two start -->
            <div class="col-md-3 col-sm-6 col-xs-12 hover-float">
                <div class="price price-three">
                    <div class="price-badge bg-grad-blood-mary">Recommended</div>
                    <div class="price-header">
                        <span class="color-success"><sup>$</sup>59</span>
                        <h4>Extended</h4>								
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>Two Web Designs</li>
                            <li>Unlimited Revision</li>
                            <li>Free One Year Domain</li>
                            <li>Free Six Months Hosting</li>
                            <li>Free Installation</li>
                            <li>Full Support</li>
                        </ul>
                    </div>
                    <div class="price-footer">

                        <a href="#" class="button button-sm button-rounded button-success hover-ripple-out">Cart Now</a>
                    </div>
                </div>
            </div>
            <!-- table price two end -->

            <!-- table price three start -->
            <div class="col-md-3 col-sm-6 col-xs-12 hover-float">
                <div class="price price-three">
                    <div class="price-header">
                        <span class="color-cyan"><sup>$</sup>69</span>
                        <h4>Developer</h4>								
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>Two Web Designs</li>
                            <li>Unlimited Revision</li>
                            <li>Free One Year Domain</li>
                            <li>Free Six Months Hosting</li>
                            <li>Free Installation</li>
                            <li>Full Support</li>
                        </ul>
                    </div>
                    <div class="price-footer">

                        <a href="#" class="button button-sm button-rounded button-cyan hover-ripple-out">Cart Now</a>
                    </div>
                </div>
            </div>
            <!-- table price three end -->

            <!-- table price four start -->
            <div class="col-md-3 col-sm-6 col-xs-12 hover-float">
                <div class="price price-three">
                    <div class="price-badge bg-grad-stellar">Popular</div>
                    <div class="price-header">
                        <span class="color-blue"><sup>$</sup>79</span>
                        <h4>Team</h4>								
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>Two Web Designs</li>
                            <li>Unlimited Revision</li>
                            <li>Free One Year Domain</li>
                            <li>Free Six Months Hosting</li>
                            <li>Free Installation</li>
                            <li>Full Support</li>
                        </ul>
                    </div>
                    <div class="price-footer">

                        <a href="#" class="button button-sm button-rounded button-blue hover-ripple-out">Cart Now</a>
                    </div>
                </div>
            </div>
            <!-- table price four end -->

        </div><!-- row end -->

        <div class="row text-center mt50">
            <h4 class="color-light">For custom price, please contact us at: <i class="fa fa-phone"></i> 1-234-567-890</h4>
        </div>

    </div><!-- container end -->
</div><!-- section price end -->
    