{% load static %}

<!-- Service Area
===================================== -->
<div id="service" class="pt75 pb25">
    <div class="container">
        
        <!-- title and short description start -->
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="font-size-normal">
                    <small>Modern Service</small>
                    We Build Website &amp; App
                    <small class="heading heading-solid center-block"></small>
                </h1>
            </div>

            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt voluptatem. 
                </p>
            </div>
        </div>
        <!-- title and short description end -->
        
        <!-- service one start -->
        <div class="row mt75">
            <div class="col-md-6 animated" data-animation="fadeInLeft" data-animation-delay="100">
                <img src="assets/img/other/img-other-3.png" alt="website service" class="img-responsive">
            </div>
            <div class="col-md-5 animated" data-animation="fadeIn" data-animation-delay="100">
                
                <h3 class="font-size-normal">
                    <small class="color-primary">Web Design &amp; Development</small>
                    Wordpress. Joomla. Opencart. Etc.
                </h3>
                
                <p class="mt20">
                    We design &amp; develope modern website and app for any type of business. Landing page, ecommerce, company profile, web application, mobile app,
                    anything that you want to make great success.
                </p>
                <p>
                    <i class="fa fa-wordpress fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-joomla fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-drupal fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-shopping-basket fa-2x color-gray2 mr10"></i>
                </p>
                <p>
                    <a class="button-o button-sm button-primary hover-fade">Start Project</a>
                </p>
            </div>
        </div>
        <!-- service one end -->
        
        <!-- service two start -->
        <div class="row mt100">
            <div class="col-md-6 col-md-push-6 animated" data-animation="fadeInRight" data-animation-delay="100">
                <img src="assets/img/other/img-other-4.png" alt="website service" class="img-responsive">
            </div>
            <div class="col-md-5 col-md-pull-5">
                
                <h3 class="font-size-normal">
                    <small class="color-success">App Design &amp; Development</small>
                    Android. iOS. Windows. Etc.
                </h3>
                
                <p class="mt20 animated" data-animation="fadeIn" data-animation-delay="100">
                    We design &amp; develope modern website and app for any type of business. Landing page, ecommerce, company profile, web application, mobile app,
                    anything that you want to make great success.
                </p>
                <p>
                    <i class="fa fa-android fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-apple fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-windows fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-amazon fa-2x color-gray2 mr10"></i>
                </p>
                <p>
                    <a class="button-o button-sm button-success hover-fade">Start Project</a>
                </p>
            </div>
        </div>
        <!-- service two end -->
        
        <!-- service three start -->
        <div class="row mt75">
            <div class="col-md-6 animated" data-animation="fadeInLeft" data-animation-delay="100">
                <img src="assets/img/other/img-other-5.jpg" alt="website service" class="img-responsive">
            </div>
            <div class="col-md-5">
                
                <h3 class="font-size-normal">
                    <small class="color-red">Graphic Design</small>
                    Logo. Icon. Infographic. Etc.
                </h3>
                
                <p class="mt20 animated" data-animation="fadeIn" data-animation-delay="100">
                    We design &amp; develope modern website and app for any type of business. Landing page, ecommerce, company profile, web application, mobile app,
                    anything that you want to make great success.
                </p>
                <p>
                    <i class="fa fa-file-image-o fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-object-ungroup fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-paper-plane-o fa-2x color-gray2 mr10"></i>
                    <i class="fa fa-camera-retro fa-2x color-gray2 mr10"></i>
                </p>
                <p>
                    <a class="button-o button-sm button-red hover-fade">Start Project</a>
                </p>
            </div>
        </div>
        <!-- service three end -->
        
    </div><!-- container end -->
</div><!-- section service end -->

