{% load static %}

<!-- Shop Area
===================================== -->
<div id="shop" class="pt70 pb50">
    <div class="container">
        
        <!-- title start -->
        <div class="row text-center mb25">
            <h1 class="font-size-normal">
                <small>eCommerce</small>
                Online Shop
                <small class="heading heading-solid center-block"></small>
            </h1>
        </div>
        <!-- title end -->
        
        <div class="row text-center">
            <div class="col-md-12">                    
                <div id="owlShop">
                    
                    <!-- shop item start -->
                    <div class="shop-item-container-out">
                        <div class="shop-item-container-in">
                            <div class="shop-label">-50%</div>
                            <img src="assets/img/shop/img-shop-1.png" alt="shop item" class="img-responsive center-block">
                            <h4 class="shop-item-title">Cool Man Jacket</h4>
                            <span class="shop-item-price">$90.00</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="add-to-wishlist" data-toggle="tooltip" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <a href="#" class="add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="send-to-friend" data-toggle="tooltip" title="Send to friend">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- shop item end -->
                    
                    <!-- shop item start -->
                    <div class="shop-item-container-out">
                        <div class="shop-item-container-in">
                            <img src="assets/img/shop/img-shop-2.png" alt="shop item" class="img-responsive center-block">
                            <h4 class="shop-item-title">Casual Jacket</h4>
                            <span class="shop-item-price">$79.00</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="add-to-wishlist" data-toggle="tooltip" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <a href="#" class="add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="send-to-friend" data-toggle="tooltip" title="Send to friend">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- shop item end -->
                    
                    <!-- shop item start -->
                    <div class="shop-item-container-out">
                        <div class="shop-item-container-in">
                            <div class="shop-label">Sale</div>
                            <img src="assets/img/shop/img-shop-3.png" alt="shop item" class="img-responsive center-block">
                            <h4 class="shop-item-title">Summer Jacket</h4>
                            <span class="shop-item-price">$85.00</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="add-to-wishlist" data-toggle="tooltip" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <a href="#" class="add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="send-to-friend" data-toggle="tooltip" title="Send to friend">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- shop item end -->
                    
                    <!-- shop item start -->
                    <div class="shop-item-container-out">
                        <div class="shop-item-container-in">
                            <img src="assets/img/shop/img-shop-4.png" alt="shop item" class="img-responsive center-block">
                            <h4 class="shop-item-title">Man Jacket</h4>
                            <span class="shop-item-price">$57.00</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="add-to-wishlist" data-toggle="tooltip" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <a href="#" class="add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="send-to-friend" data-toggle="tooltip" title="Send to friend">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- shop item end -->
                    
                    <!-- shop item start -->
                    <div class="shop-item-container-out">
                        <div class="shop-item-container-in">
                            <div class="shop-label">-50%</div>
                            <img src="assets/img/shop/img-shop-1.png" alt="shop item" class="img-responsive center-block">
                            <h4 class="shop-item-title">Cool Man Jacket</h4>
                            <span class="shop-item-price">$90.00</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="add-to-wishlist" data-toggle="tooltip" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <a href="#" class="add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="send-to-friend" data-toggle="tooltip" title="Send to friend">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- shop item end -->
                    
                    <!-- shop item start -->
                    <div class="shop-item-container-out">
                        <div class="shop-item-container-in">
                            <div class="shop-label">-50%</div>
                            <img src="assets/img/shop/img-shop-2.png" alt="shop item" class="img-responsive center-block">
                            <h4 class="shop-item-title">Cool Man Jacket</h4>
                            <span class="shop-item-price">$90.00</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="add-to-wishlist" data-toggle="tooltip" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <a href="#" class="add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="send-to-friend" data-toggle="tooltip" title="Send to friend">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- shop item end -->
                    
                    <!-- shop item start -->
                    <div class="shop-item-container-out">
                        <div class="shop-item-container-in">
                            <div class="shop-label">-50%</div>
                            <img src="assets/img/shop/img-shop-3.png" alt="shop item" class="img-responsive center-block">
                            <h4 class="shop-item-title">Cool Man Jacket</h4>
                            <span class="shop-item-price">$90.00</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="add-to-wishlist" data-toggle="tooltip" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <a href="#" class="add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="send-to-friend" data-toggle="tooltip" title="Send to friend">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- shop item end -->
                    
                    <!-- shop item start -->
                    <div class="shop-item-container-out">
                        <div class="shop-item-container-in">
                            <div class="shop-label">-50%</div>
                            <img src="assets/img/shop/img-shop-4.png" alt="shop item" class="img-responsive center-block">
                            <h4 class="shop-item-title">Cool Man Jacket</h4>
                            <span class="shop-item-price">$90.00</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="add-to-wishlist" data-toggle="tooltip" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <a href="#" class="add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <a href="#" class="send-to-friend" data-toggle="tooltip" title="Send to friend">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- shop item end -->

                </div><!-- #owlShop end -->
            </div><!-- col-md end -->
        </div><!-- row end -->
        
        <div class="row mt25 mb50">
            <div class="col-md-2 col-md-offset-5 text-center">                    
                <i class="fa fa-angle-left shop-control-prev"></i>
                <i class="fa fa-angle-right shop-control-next"></i>                    
            </div>
        </div>
        
    </div><!-- container end -->
</div><!-- section shop end -->
