{% load static %}

<!-- Skill Area
===================================== -->
<div id="progressBar2">
    <div class="container pt50 pb75">
        <div class="row">
            
            <!-- left skill start -->
            <div class="col-sm-6 col-md-6">
                <h5 class="text-uppercase font-montserrat color-dark text-center mb25">Design Skills</h5>

                <!-- skill one start -->
                <h5 class="text-right">Adobe Photoshop</h5>
                <div class="progress progress-xs progress-circle right">
                    <div class="progress-bar bg-primary" role="progressbar" data-transitiongoal="40"></div>
                </div>
                <!-- skill one end -->

                <!-- skill two start -->
                <h5 class="text-right">Adobe Illustrator</h5>
                <div class="progress progress-sm progress-circle right">
                    <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="60"></div>
                </div>
                <!-- skill two end -->

                <!-- skill three start -->
                <h5 class="text-right">Adobe InDesign</h5>
                <div class="progress progress-md progress-circle right">
                    <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="80"></div>
                </div>
                <!-- skill three end -->

                <!-- skill four start -->
                <h5 class="text-right">Sketch</h5>
                <div class="progress progress-lg progress-circle right">
                    <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="95"></div>
                </div>
                <!-- skill four end -->
            </div>
            <!-- left skill end -->
            
            <!-- right skill start -->
            <div class="col-sm-6 col-md-6">
                <h5 class="text-uppercase font-montserrat color-dark text-center mb25">CMS Programming Skills</h5>

                <!-- skill five start -->
                <h5>Wordpress</h5>
                <div class="progress progress-circle progress-xs">
                    <div class="progress-bar bg-primary" role="progressbar" data-transitiongoal="40"></div>
                </div>
                <!-- skill five end -->

                <!-- skill six start -->
                <h5>WooCommerce</h5>
                <div class="progress progress-circle progress-sm">
                    <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="60"></div>
                </div>
                <!-- skill six end -->

                <!-- skill seven start -->
                <h5>Opencart</h5>
                <div class="progress progress-circle progress-md">
                    <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="80"></div>
                </div>
                <!-- skill seven end -->

                <!-- skill eight start -->
                <h5>Shopify</h5>
                <div class="progress progress-circle progress-lg">
                    <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="95"></div>
                </div>
                <!-- skill eight end -->
            </div>
            <!-- right skill end -->
            
        </div><!-- row end -->
    </div><!-- container end -->
</div><!-- section skill end -->
