{% load static %}

<!-- Team Area
===================================== -->
<div id="team" class="pt75">
    <div class="container">
        
        <!-- title and short description start -->
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="font-size-normal">
                    <small>Amazing Team</small>
                    We have a lot of Smart People
                    <small class="heading heading-solid center-block"></small>
                </h1>
            </div>

            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt voluptatem. 
                </p>
            </div>
        </div>
        <!-- title and short description end -->
        
    </div>
    
    <div class="container-fluid">            
        <div class="row">
            
            <!-- team member one start -->
            <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6 mt30">                    
                <div class="team team-two">                            
                    <img src="assets/img/team/img-team-1.jpg" alt="" class="img-responsive">
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <h5>Michael Doe<small class="color-pasific">Co-Founder &amp; CEO</small></h5>                            
                </div>                    
            </div>
            <!-- team member one end -->
            
            <!-- team member two start -->
            <div class="col-md-2 col-sm-4 col-xs-6 mt30">
                <div class="team team-two">                            
                    <img src="assets/img/team/img-team-2.jpg" alt="" class="img-responsive">
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <h5>Michael Doe<small class="color-pasific">Co-Founder &amp; CEO</small></h5>                            
                </div>                    
            </div>
            <!-- team member two end -->
            
            <!-- team member three start -->                    
            <div class="col-md-2 col-sm-4 col-xs-6 mt30">
                <div class="team team-two">                            
                    <img src="assets/img/team/img-team-3.jpg" alt="" class="img-responsive">
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <h5>Michael Doe<small class="color-pasific">Co-Founder &amp; CEO</small></h5>                            
                </div>                    
            </div>
            <!-- team member three end -->
            
            <!-- team member four start -->                    
            <div class="col-md-2 col-sm-4 col-xs-6 mt30">
                <div class="team team-two">                            
                    <img src="assets/img/team/img-team-4.jpg" alt="" class="img-responsive">
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <h5>Michael Doe<small class="color-pasific">Co-Founder &amp; CEO</small></h5>                            
                </div>                    
            </div>
            <!-- team member four end -->
            
            <!-- team member five start -->                    
            <div class="col-md-2 col-sm-4 col-xs-6 mt30">
                <div class="team team-two">                            
                    <img src="assets/img/team/img-team-5.jpg" alt="" class="img-responsive">
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <h5>Michael Doe<small class="color-pasific">Co-Founder &amp; CEO</small></h5>                            
                </div>                    
            </div>
            <!-- team member five end -->
            
        </div><!-- row end -->                
    </div><!-- container end -->            
</div><!-- section team end -->