{% load static %}

<!-- Testimonial Area
===================================== -->
<div id="testimonial" class="pt75 pb75">
    <div class="container">
        
        <!-- title start -->
        <div class="row text-center mb25">
            <h1 class="font-size-normal">
                <small>Testimonials</small>
                What Our Clients Say About Us
                <small class="heading heading-solid center-block"></small>
            </h1>
        </div>
        <!-- title end -->
        
        <div class="row">
            
            <div class="col-sm-12">                        
                <div class="row">
                    
                    <div id="owlSectionThreeItem" class="owl-carousel">
                            
                        <!-- Testimonial Item start -->
                        <div class="testimonial testimonial-triangle-isosceles bottom-left">
                            <div class="testimonial-body">
                                <p>
                                    Pasific template is the best template so far. So easy to customize and clean code. Recommended!
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <img src="assets/img/other/photo-1.jpg" alt="testimonial author" class="img-responsive img-circle">
                                <i class="fa fa-quote-left"></i>
                                Martin Smith <a href="#">envato.com   </a>
                            </div>
                        </div>
                        <!-- Testimonial Item end -->

                        <!-- Testimonial Item start -->
                        <div class="testimonial testimonial-triangle-isosceles bottom-left">
                            <div class="testimonial-body">
                                <p>
                                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <img src="assets/img/other/photo-2.jpg" alt="testimonial author" class="img-responsive img-circle">
                                <i class="fa fa-quote-left"></i>
                                Steve Austin <a href="#">facebook.com   </a>
                            </div>
                        </div>
                        <!-- Testimonial Item end -->

                        <!-- Testimonial Item start -->
                        <div class="testimonial testimonial-triangle-isosceles bottom-left">
                            <div class="testimonial-body">
                                <p>
                                    Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo. 
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <img src="assets/img/other/photo-4.jpg" alt="testimonial author" class="img-responsive img-circle">
                                <i class="fa fa-quote-left"></i>
                                Gisselse <a href="#">Smashingmagazine.com   </a>
                            </div>
                        </div>
                        <!-- Testimonial Item end -->

                        <!-- Testimonial Item start -->
                        <div class="testimonial testimonial-triangle-isosceles bottom-left">
                            <div class="testimonial-body">
                                <p>
                                    Pasific template is the best template so far. So easy to customize and clean code. Recommended!
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <img src="assets/img/other/photo-1.jpg" alt="testimonial author" class="img-responsive img-circle">
                                <i class="fa fa-quote-left"></i>
                                Martin Smith <a href="#">Smashingmagazine.com   </a>
                            </div>
                        </div>
                        <!-- Testimonial Item end -->

                        <!-- Testimonial Item start -->
                        <div class="testimonial testimonial-triangle-isosceles bottom-left">
                            <div class="testimonial-body">
                                <p>
                                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <img src="assets/img/other/photo-2.jpg" alt="testimonial author" class="img-responsive img-circle">
                                <i class="fa fa-quote-left"></i>
                                Steve Austin <a href="#">envato.com   </a>
                            </div>
                        </div>
                        <!-- Testimonial Item end -->

                        <!-- Testimonial Item start -->
                        <div class="testimonial testimonial-triangle-isosceles bottom-left">
                            <div class="testimonial-body">
                                <p>
                                    Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo. 
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <img src="assets/img/other/photo-4.jpg" alt="testimonial author" class="img-responsive img-circle">
                                <i class="fa fa-quote-left"></i>
                                Goselle <a href="#">themeforest.com   </a>
                            </div>
                        </div>
                        <!-- Testimonial Item end -->

                    </div><!-- owlSectionThreeItem end -->
                </div><!-- row end -->
            </div><!-- col end -->
            
        </div><!-- row end -->
    </div><!-- container end -->
</div><!-- section testimonial end -->
