{% load static %}

<!-- Testimonial Area
===================================== -->
<div id="testimonial" class="pt75 pb75">
    <div class="container">
        
        <!-- title start -->
        <div class="row text-center mb25">
            <h1 class="font-size-normal">
                <small>Testimonial</small>
                {{testimonial.title}}
                <small class="heading heading-solid center-block"></small>
            </h1>
        </div>
        <!-- title end -->
        
        <div class="row">
            
            <div class="col-sm-12">                        
                <div class="row">
                    
                    <div id="owlSectionThreeItem" class="owl-carousel">
                        {% for testi in testimonial_list %}
                        <!-- Testimonial Item start -->
                        <div class="testimonial testimonial-triangle-isosceles bottom-left">
                            <div class="testimonial-body">
                                <p>
                                    {{testi.text}}
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <img src="{{testi.image.url}}" alt="testimonial author" class="img-responsive img-circle" style="
                                width:70px;
                                height:70px;
                                object-fit: cover;">
                                <i class="fa fa-quote-left"></i>
                                {{testi.name}} <p class="muted">{{testi.credential}}   </p>
                            </div>
                        </div>
                        <!-- Testimonial Item end -->
                        {% endfor %}

                    </div><!-- owlSectionThreeItem end -->
                </div><!-- row end -->
            </div><!-- col end -->
            
        </div><!-- row end -->
    </div><!-- container end -->
</div><!-- section testimonial end -->
