{% load static %}
<!-- Welcome Area
===================================== -->
<section id="welcome" class="pt50">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="text-uppercase font-montserrat color-dark">
                    {{welcome.title}}<small class="heading heading-solid"></small></h3>
            </div>
            <div class="col-md-9">
            {% autoescape off %}
            {{welcome.content}}
            {% endautoescape off %}
            </div>
        </div>
    </div>
</section>