{% load static %}
<!-- Welcome Area
===================================== -->
<section id="welcome" class="pt50">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="text-uppercase font-montserrat color-dark">
                    Welcome to Pasific Template
                    <small class="heading heading-solid"></small>
                </h3>
            </div>

            <div class="col-md-9">
                <p class="mt15">
                    <i class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam 
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</i><br><br>

                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                </p>
            </div>
        </div>
    </div>
</section>