<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}{% endblock %}</title>
        {% block extra_head %}
        {% endblock %}     
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta charset="utf-8">
        <meta name="author" content="{% block author %}{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        {% include 'includes/favicon.html' %}
        {% include 'includes/stylesheet.html' %}
        
        
    </head>
    <body  id="topPage" data-spy="scroll" data-target=".navbar" data-offset="100">
        {% block body %}
            {% include 'includes/navbar-static.html' %}
            
            <div class="mt-5 pt-3">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert-dismissible">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% block content %}
            {% endblock %}
        {% endblock %}

        {% block extra_body %}
        {% endblock %}
        
        {% include 'includes/footer.html' %}
        {% include 'includes/script.html' %}

    </body>
</html>