{% extends 'base_landing.html' %}

{% load humanize %}

{% block head_title %}Suksesif - Upgrade Dirimu{% endblock %}
{% block description %}Selamat Datang di Website Kami!{% endblock %}
{% block keywords %}psikologi,karir,finansial{% endblock %}
{% block author %}Tim Suksesif{% endblock %}

{% block content %}
    {% include 'includes/micros/carousel.html' %}
    {% include 'includes/micros/welcome.html' %}

    {% comment %} {% include 'includes/micros/portfolio.html' %}
    {% include 'includes/micros/services.html' %}
    {% include 'includes/micros/cta.html' %}
    {% include 'includes/micros/team.html' %}
    {% include 'includes/micros/skill.html' %}
    {% include 'includes/micros/funfact.html' %}
    {% include 'includes/micros/features.html' %}
    {% include 'includes/micros/chart.html' %}
    {% include 'includes/micros/achievement.html' %}
    {% include 'includes/micros/cta2.html' %}
    {% include 'includes/micros/content.html' %}
    {% include 'includes/micros/content2.html' %}
    {% include 'includes/micros/price.html' %} {% endcomment %}
    {% include 'includes/micros/shop.html' %}
    {% include 'includes/micros/blog.html' %}
    {% comment %} {% include 'includes/micros/newsletter.html' %}
    {% include 'includes/micros/testimonial.html' %}
    {% include 'includes/micros/contact.html' %}
    {% include 'includes/micros/client.html' %} {% endcomment %}
{% endblock %}
