{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<!-- Subheader Area
        ===================================== -->
        <header class="bg-grad-day-tripper mt70">
            <div class="container">
                <div class="row mt20 mb30 ml10">
                    <div class="col-md-6 text-left">
                        <h3 class="font-montserrat color-light text-uppercase">Get In Touch With Us<small class="color-light alpha7">Say Anything!</small></h3>
                    </div>
                    <div class="col-md-6 text-right pt35">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Asessment</li>
                            <li>{{object.type}}</li>
                            <li>Data Responden</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        <!-- Contact Us Area
        =====================================-->
        <div id="contact" class="pt50 pb100">
            <div class="container">
                <div class="row">
                    <h3 class="text-center">
                        <small>TERIMA KASIH</small>
                        Masukkan data responden test untuk melihat hasil test.
                        <small class="heading heading-dotted center-block"></small>
                    </h3>
                </div>

                <div class="row mt30">
                    <form name="contactform" id="contactForm" method="post">

                        <!-- textarea start -->
                        <div class="col-sm-12">
                            {% csrf_token %}
                            {{ form|crispy }} 
                        </div>
                        <!-- textarea end -->

                        <!-- button start -->
                        <div class="col-sm-12 mt10 text-center">
                            <button type="submit" name="sendMessage" id="sendMessage" class="button-3d button-md button-block button-pasific hover-ripple-out">Dapatkan Hasil</button>
                        </div>
                        <!-- button end -->

                        <div id="sendingMessage" class="statusMessage sending-message"><p>Sending your message. Please wait...</p></div>
                        <div id="successMessage" class="statusMessage success-message"><p>Thanks for sending your message! We'll get back to you shortly.</p></div>
                        <div id="failureMessage" class="statusMessage failure-message"><p>There was a problem sending your message. Please try again.</p></div>
                        <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>

                    </form>
                </div>

            </div>
        </div>

{% endblock %}
